<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DPI Project</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Airbnb Demo">
  <meta name="author" content="DPI Team 3">

  <!-- TITLE -->
  <title>DPI Team 3: Portfolio Optimization</title>

  <!-- CUSTOM FONTS AND STYLES -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,500&display=swap&subset=latin-ext" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

  <div id="container">
    <div style="padding-top: 1%">
      <h1>Basic Frontend</h1>
    </div>
  </div>
  <div id="container">
    <div style="margin-top: -5%;">
      <div class="abtext"> Portfolio Optimization</b></br>
      </div>
      <div style="border-bottom: 3px dashed #FF595E; margin-top: 30px; width: 80%; margin-left: auto; margin-right: auto;"></div><img </div>
    <div id="container">
      <div style="padding-top: 2.5%; padding-bottom: 20%; display: table;">
        <div class="child price"></div>
        <div class="child input"> 
</form>
<form action="/action_page.php">
  Ticker 1: <input type="text" name="t1"><br>
  Weight 1: <input type="text" name="w1"><br>
<br> 
  Ticker 2: <input type="text" name="t2"><br>
  Weight 2: <input type="text" name="w2"><br>
 <br> 
  Ticker 3: <input type="text" name="t3"><br>
  Weight 3: <input type="text" name="w3"><br>
</form>
 <div class="calculate">calculate</div></div></div></div>
      
</body>

</html>
<!-- partial -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>